doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="/client/css/style.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")
  body 
    include ../partial/header 
    .middle
      include ../partial/sider 
      .block-main
        block main 

    include ../partial/footer

    script(src="/client/js/script.js" type='module') 
    
    script(src='https://unpkg.com/rabbit-lyrics' type="text/javascript")