extends ../../layout/default.pug 

block main 
    section.section-1 
        .inner-wrap 
            .inner-title  Đề xuất
            each item in songs
                .inner-song 
                    if(item.imgs)
                        img(src=item.imgs[0])
                    else 
                        img(alt='k có ảnh')
                    a(href=`/song/detail/${item.slug}` class='inner-name') #{item.name}
                    i(class="fa-solid fa-plus" add-to-queue=item.id)
                