extends ../../layout/default.pug 

block main 
    section.section-1 
        .inner-wrap 
            .inner-title  Đề xuất
            each item in song
                .inner-song 
                    img(src=item.avatar, alt="")
                    a(href='#' class='inner-name') #{item.title}
                