extends ../../layout/default.pug

block main 
    .search 
        .container
            .inner-wrap 
                .inner-result 
                    .inner-left 
                        .inner-title Kết quả hàng đầu
                        .inner-content 
                            img(src="/client/img/avatar.jpg", alt="")
                            .inner-info 
                                .inner-name Son tung 
                                .inner-desc Nghe si 
                    .inner-right 
                        .inner-title Bài hát  
                        div(class='inner-list' search-suguest) 
                            if(songs.length)
                                each item in songs
                                    .inner-song
                                        .inner-info
                                            if(item.avatar)
                                                img(src=item.avatar, alt="")
                                            else 
                                                img(src='#' alt='chưa có ảnh')
                                            .inner-content 
                                                a(href=`/song/detail/${item.slug}`).inner-name #{item.songName}
                                                .inner-singer 
                                                    a(href="") #{item.singerName}
                                        .inner-time 5:34
                            else 
                                h3 k tìm thấy