extends ../../layout/default.pug

block main
    audio(src=song.audio audio-in-main=song.id)

    .rabbit-lyrics(data-media='#audio')
        | [00:00.00] &#x8C01;&#x306E;&#x3053;&#x3068;&#x3092;&#x8003;&#x3048;&#x3066;&#x308B;&#x306E;?
        | [00:03.10] &#x30CF;&#x30FC;&#x30C8;&#x306E;&#x30B9;&#x30DA;&#x30FC;&#x30B9;&#x4E89;&#x593A;&#x6226;
        | [00:05.76] &#x6226;&#x51B5;&#x7684;&#x306B; &#x4E00;&#x8FDB;&#x4E00;&#x9000;&#x3067;
        | [00:10.56] &#x6CB9;&#x65AD;&#x306A;&#x3089;&#x306A;&#x3044;&#x306A;
        | [00:11.70] &#x3042;&#x306E;&#x306D; &#x4ECA;&#x306E;&#x3068;&#x3053; &#x307B;&#x3093;&#x306E;&#x6570;&#xFF05;&#x3057;&#x304B;
        | [00:16.73] &#x30A2;&#x30A4;&#x30C4;&#x306E;&#x5FC3;&#x306B; &#x5C45;&#x573A;&#x6240;&#x304C;&#x306A;&#x3044;&#x3093;&#x3060;
        | [00:21.38]
        | [00:21.51] &#x5236;&#x670D;&#x306E;&#x30DD;&#x30B1;&#x30C3;&#x30C8;
        | [00:24.05] &#x30DB;&#x30F3;&#x30CD;&#x3092;&#x5FCD;&#x3070;&#x305B;&#x3066;
        | [00:26.71] &#x305D;&#x3063;&#x3068; &#x3048;&#x308A;&#x3092;&#x6B63;&#x3059;
        | [00:31.71] &#x305D;&#x3093;&#x306A;&#x7B80;&#x5358;&#x306B;&#x306F;
        | [00:34.38] &#x624B;&#x306E;&#x5185; &#x660E;&#x304B;&#x305B;&#x306A;&#x3044;
        | [00:36.90] &#x3042;&#x304F;&#x307E;&#x3067;&#x307E;&#x3060; &#x69D8;&#x5B50;&#x89C1;&#x306E;&#x6BB5;&#x9636;
        | [00:41.81]
        | [00:42.01] &#x3060;&#x3051;&#x3069;&#x672C;&#x5F53;&#x306F;&#x306D;
        | [00:44.59] &#x89C1;&#x7834;&#x3063;&#x3066;&#x6B32;&#x3057;&#x3044;&#x306E;
        | [00:47.25] &#x6DE1;&#x3044;&#x671F;&#x5F85;&#x306B;&#x80F8; &#x3068;&#x304D;&#x3081;&#x304B;&#x3057;&#x3066;
        | [00:51.74] &#x30C1;&#x30E9;&#x30C1;&#x30E9;&#x3068;&#x89C1;&#x3066;&#x308B;
        | [00:54.97]
        | [00:56.09] &#x30AA;&#x30F3;&#x30CA;&#x30CE;&#x30B3;&#x306E;&#x5927;&#x4E8B;&#x306A;&#x30E2;&#x30CE;(&#x610F;&#x5730;&#x60AA;&#x3067;)
        | [00:58.73] &#x30AA;&#x30C8;&#x30B3;&#x30CE;&#x30B3;&#x306E;&#x5927;&#x4E8B;&#x306A;&#x30B3;&#x30C8;(&#x30E0;&#x30AB;&#x3064;&#x304F;)
        | [01:01.53] &#x5F15;&#x304F;&#x306B;&#x5F15;&#x3051;&#x306A;&#x3044; &#x305D;&#x308C;&#x305E;&#x308C;&#x306E;&#x4E8B;&#x60C5;
        | [01:06.26] &#x307B;&#x304B;&#x306B;&#x4F55;&#x3082;&#x8003;&#x3048;&#x3089;&#x3093;&#x306A;&#x3044;(&#x771F;&#x3063;&#x76F4;&#x3050;&#x3067;)
        | [01:09.03] &#x4E00;&#x77AC;&#x3060;&#x3063;&#x3066; &#x3088;&#x305D;&#x89C1;&#x3067;&#x304D;&#x306A;&#x3044;(&#x30CB;&#x30D6;&#x3044;&#x306D;)
        | [01:11.68] &#x5145;&#x5B9F;&#x611F; &#x3042;&#x3075;&#x308C;&#x308B;&#x307B;&#x3069;&#x306B;
        | [01:16.25] &#x6E80;&#x305F;&#x3057;&#x3066;&#x3042;&#x3052;&#x308B;&#x3088;
        | [01:17.32] &#x6761;&#x4EF6;&#x3061;&#x3089;&#x3064;&#x304B;&#x305B; &#x69D8;&#x5B50;&#x3046;&#x304B;&#x304C;&#x3063;&#x3066;&#x89C1;&#x3066;&#x308B;
        | [01:22.50] &#x304A;&#x4E92;&#x3044;Win-Win&#x306A; &#x30C8;&#x30EA;&#x30D2;&#x30AD;&#x3057;&#x3088;&#x3046;&#x3088;
        | [01:27.20]
        | [01:27.33] &#x9B54;&#x6CD5;&#x5C11;&#x5973;&#x3060;&#x3063;&#x3066;
        | [01:29.87] &#x5730;&#x5E95;&#x306E;&#x6C11;&#x3060;&#x3063;&#x3066;
        | [01:32.60] &#x60A9;&#x3080;&#x3068;&#x3053;&#x306F;&#x540C;&#x3058;
        | [01:37.71] &#x5F02;&#x661F;&#x306E;&#x59EB;&#x3060;&#x3063;&#x3066;
        | [01:40.13] &#x30AA;&#x30D0;&#x30B1;&#x306E;&#x5C11;&#x5973;&#x3060;&#x3063;&#x3066;
        | [01:42.71] &#x30C9;&#x30AD;&#x30C9;&#x30AD;&#x3057;&#x3066; &#x307F;&#x3093;&#x306A;&#x604B;&#x3092;&#x3059;&#x308B;
        | [01:47.99] &#x597D;&#x304D;&#x306A;&#x30BF;&#x30A4;&#x30D7;&#x3060;&#x3068;&#x304B;
        | [01:50.51] &#x7406;&#x60F3;&#x306E;&#x544A;&#x767D;&#x3092;
        | [01:53.21] &#x601D;&#x3044;&#x63CF;&#x3044;&#x305F;&#x65F6;
        | [01:55.66] &#x8C01;&#x306E;&#x989C;&#x304C;&#x6D6E;&#x304B;&#x3093;&#x3067;&#x304D;&#x3061;&#x3083;&#x3046;&#x306E;?!
        | [02:01.82] &#x7A81;&#x7136; &#x30C1;&#x30AB;&#x30E9;&#x6D8C;&#x3044;&#x3066;&#x304D;&#x305F;&#x308A;(&#x4E0D;&#x601D;&#x8BAE;&#x3060;&#x3088;)
        | [02:04.46] &#x30DB;&#x30ED;&#x30EA; &#x4F18;&#x3057;&#x3055;&#x304C;&#x67D3;&#x307F;&#x305F;&#x308A;(&#x306A;&#x305C;&#x306A;&#x306E;)
        | [02:07.15] &#x305D;&#x308C;&#x306F;&#x5168;&#x90E8; &#x8C01;&#x306E;&#x305B;&#x3044;&#x304B;&#x306A;
        | [02:12.04] &#x30E9;&#x30A4;&#x30D0;&#x30EB;&#x306B;&#x306F;&#x8D1F;&#x3051;&#x305F;&#x304F;&#x306A;&#x3044;(&#x305D;&#x308C;&#x306A;&#x306E;&#x306B;)
        | [02:14.74] &#x3060;&#x3051;&#x3069;&#x30A2;&#x30A4;&#x30C4;&#x306B;&#x306F;&#x80DC;&#x3066;&#x306A;&#x3044;(&#x306A;&#x305C;&#x306A;&#x306E;)
        | [02:17.47] &#x305D;&#x308C;&#x3063;&#x3066;&#x3061;&#x3087;&#x3063;&#x3068;&#x95EE;&#x9898;&#x3042;&#x308B;&#x3051;&#x3069;
        | [02:22.15] &#x3082;&#x3046;&#x624B;&#x9045;&#x308C;&#x3060;&#x306D;
        | [02:25.56]
        | [02:45.74] &#x30AA;&#x30F3;&#x30CA;&#x30CE;&#x30B3;&#x306E;&#x5927;&#x4E8B;&#x306A;&#x30E2;&#x30CE;(&#x610F;&#x5730;&#x60AA;&#x3067;)
        | [02:48.20] &#x30AA;&#x30C8;&#x30B3;&#x30CE;&#x30B3;&#x306E;&#x5927;&#x4E8B;&#x306A;&#x30B3;&#x30C8;(&#x30E0;&#x30AB;&#x3064;&#x304F;)
        | [02:51.02] &#x5F15;&#x304F;&#x306B;&#x5F15;&#x3051;&#x306A;&#x3044; &#x305D;&#x308C;&#x305E;&#x308C;&#x306E;&#x4E8B;&#x60C5;
        | [02:55.95] &#x307B;&#x304B;&#x306B;&#x4F55;&#x3082;&#x8003;&#x3048;&#x3089;&#x3093;&#x306A;&#x3044;(&#x771F;&#x3063;&#x76F4;&#x3050;&#x3067;)
        | [02:58.67] &#x4E00;&#x77AC;&#x3060;&#x3063;&#x3066; &#x3088;&#x305D;&#x89C1;&#x3067;&#x304D;&#x306A;&#x3044;(&#x30CB;&#x30D6;&#x3044;&#x306D;)
        | [03:01.31] &#x5145;&#x5B9F;&#x611F; &#x3042;&#x3075;&#x308C;&#x308B;&#x307B;&#x3069;&#x306B;
        | [03:06.01] &#x6E80;&#x305F;&#x3057;&#x3066;&#x3042;&#x3052;&#x308B;&#x3088;
        | [03:07.02] &#x6761;&#x4EF6;&#x3061;&#x3089;&#x3064;&#x304B;&#x305B; &#x69D8;&#x5B50;&#x3046;&#x304B;&#x304C;&#x3063;&#x3066;
        | [03:11.54] &#x305D;&#x3093;&#x306A;&#x611F;&#x3058;&#x306E; &#x30C8;&#x30EA;&#x30D2;&#x30AD;&#x3057;&#x3088;&#x3046;&#x3088;
        | [03:17.42] &#x3042;&#x306E;&#x306D;&#x4ECA;&#x306E;&#x3068;&#x3053; &#x307B;&#x3093;&#x306E;&#x6570;&#xFF05;&#x3057;&#x304B;
        | [03:22.48] &#x30A2;&#x30A4;&#x30C4;&#x306E;&#x5FC3;&#x306B; &#x5C45;&#x573A;&#x6240;&#x304C;&#x306A;&#x3044;&#x3093;&#x3060;
        | [03:27.19]