div.sider 
    .container 
        .inner-wrap 
            .inner-head 
                a(href="#" class='inner-logo') <i class="fa-solid fa-bars-staggered"></i> Thư viện
                a(href="") <i class="fa-solid fa-plus"></i>
            .inner-middle 
                .button Playlist 
                .button artist 
            form(class='inner-form')
                input(type="text" placeholder='tìm kiếm')
                button <i class="fa-solid fa-magnifying-glass"></i>
            .inner-list 
                .inner-item 
                    img(src="/client/img/avatar.jpg", alt="")
                    .inner-content 
                        .inner-name Tuấn Tọt
                        .inner-desc Nghệ sĩ
                .inner-item 
                    img(src="/client/img/avatar.jpg", alt="")
                    .inner-content 
                        .inner-name Tuấn Tọt
                        .inner-desc Nghệ sĩ
                .inner-item 
                    img(src="/client/img/avatar.jpg", alt="")
                    .inner-content 
                        .inner-name Tuấn Tọt
                        .inner-desc Nghệ sĩ
                .inner-item 
                    img(src="/client/img/avatar.jpg", alt="")
                    .inner-content 
                        .inner-name Tuấn Tọt
                        .inner-desc Nghệ sĩ